JDeveloper/CUSTOM_JAVA/CUSTOM_POJO_NOTIFICATIONS/src/oracle/java/erpsol/com/esb/pojo/resources/notificationsManager.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.erpsol.com/core/esb/bss/custom/notificationsManager/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="notificationTransactionsRequest">
      <complexType>
         <sequence>
            <element name="businessName" type="string"/>
            <element name="esbFlowId" type="string"/>
            <element name="transactions">
               <complexType>
                  <sequence>
                     <element name="transaction" minOccurs="1" maxOccurs="unbounded">
                        <complexType>
                           <sequence>
                              <element name="subject" type="string"/>
                              <element name="emisor" type="string"/>
                              <element name="receptor" type="string"/>
                              <element name="email" type="string"/>
                              <element name="group" type="string"/>
                              <element name="compressName" type="string" default=""/>
                              <element name="attached">
                                 <complexType>
                                    <sequence>
                                       <element name="attachments" minOccurs="1" maxOccurs="unbounded">
                                          <complexType>
                                             <sequence>
                                                <element name="name" type="string"/>
                                                <element name="contentType" type="string"/>
                                                <element name="binaryDoc" type="base64Binary"/>
                                             </sequence>
                                          </complexType>
                                       </element>
                                    </sequence>
                                 </complexType>
                              </element>
                           </sequence>
                        </complexType>
                     </element>
                  </sequence>
               </complexType>
            </element>
            <element name="details">
               <complexType>
                  <sequence>
                     <element name="status" type="string"/>
                     <element name="message" type="string"/>
                  </sequence>
               </complexType>
            </element>
         </sequence>
      </complexType>
   </element>
</schema>
