JDeveloper/GER_SOA/RecordUnitMetrics/src/xsd/RecordUnitMterics.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://soa.estrellaroja.com.mx/RecordUnitMterics" xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://soa.estrellaroja.com.mx/RecordUnitMterics"
            xmlns:cmn="http://soa.estrellaroja.com.mx/EstrellaRojaCommons">
  <import schemaLocation="Commons/EstrellaRojaCommons.xsd"
          namespace="http://soa.estrellaroja.com.mx/EstrellaRojaCommons"/>
  <element name="DATES">
    <complexType>
      <complexContent>
        <extension base="cmn:BaseRsType">
          <sequence>
            <element name="ROW" type="tns:DatesType" maxOccurs="unbounded" minOccurs="0"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <complexType name="DatesType">
    <sequence>
      <element name="FECHA" nillable="true" type="date" minOccurs="0"/>
    </sequence>
  </complexType>
  <element name="RecordUnitMetricsRq">
    <complexType>
      <sequence>
        <element name="StartDate" type="date" minOccurs="0"/>
        <element name="EndDate" type="date" minOccurs="0"/>
        <element name="Origin">
          <simpleType>
            <restriction base="string">
              <enumeration value="Excel"/>
              <enumeration value="Omnitracs"/>
              <enumeration value="Sine"/>
              <enumeration value="ControlNet"/>
              <enumeration value="TomTom"/>
              <enumeration value="All"/>
            </restriction>
          </simpleType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>
